.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #1a2a47;
  padding: 20px 8px 20px 8px;
  transition: width 0.5s ease;
  height: 100%;
  min-height: 100vh;
}

.sidebar.show {
  min-width: 100px;
}

.sidebar.hide {
  width: 60px;
  min-width: 40px !important;
}

.sidebar h2 {
  color: white;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 10px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.sidebar ul li a:hover {
  background-color: #575757;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
}

.sidebar .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
